.title{
    padding: 30px 10px;
    text-align: center;
    font-style: italic;
    color: #344a72;
}

.submitButton{
    width: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.invalid,.invalid:focus{
    border: 1px solid red !important;
}


.link{
    font-size: 18px;
}