.card {
    margin: 10px 0;
    height: calc(100% - 20px);
}

.selected {
    border: 1px solid #f00 !important;
}

.description {
    min-height: 130px;
}

.title {
    min-height: 45px;
}

.buttonWrupper{
    margin-bottom:10px;
}