.title{
    padding: 30px 10px;
    text-align: center;
    font-style: italic;
    color: #344a72;
}

.submitButton{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 30%;
}

.invalid,.invalid:focus{
    border: 1px solid red !important;
}

.link{
    font-size: 18px;
}