* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.link {
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
}

.link:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

.active {
    color: red;
}

.container {
    margin: 0;
    min-height: 100px;
    list-style-type: none;
    background-color: #344a72;
}
.button{
    width:100%;
    border-radius: 0 !important;
}

.userInfo{
    margin-left:auto;
    padding: 10px;
    color:white;
    text-align: center;
    cursor:pointer;
}

.userInfo:hover {
    background-color: white;
    color: black;
}

@media only screen and (min-width: 940px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        min-height: 70px;
    }

    .container .containerItem:first-child {
        padding-left: 20px;
    }

    .containerItem {
        margin-right: 50px;
    }

    .link {
        padding: 20px 15px;
        height: 100%;
    }

    .userInfo{
        padding: 20px;
    }
    .button{
        align-self: center;
        margin-right: 30px;
        width:100px;
    }
}