.wrapper{
    margin:100px auto;
    max-width: 450px;
}

.form{
    border: 1px solid darkgrey;

    padding: 30px 50px;
    background-color: #fff;
}
.container{
    display: flex;
    flex-direction: column;

}

.submit{
    margin:20px auto;
    display: block;
    width:200px;
    border:none;
    border-radius: 10px;
    padding:10px;
    background-color: #344a72;
    color: #fff;
}


.error{
    color:red;
}

.response{
    color:#344a72;
    font-weight:bold;
}