.container{
    margin:20px auto;
    width:80%;
}


.textNotFound{
    width:100%;
    padding: 10px;
    font-family:'Roboto', sans-serif;
    font-size: 37px;
    font-weight: 700;
    line-height: 1.5;
    font-style: italic;
    text-transform: uppercase;
    color:#344a72;
}

.textToLinks{
    width:100%;
    margin:0;
    padding: 30px 10px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 500;
    color:#344a72;
}

.link{
    color:#344a72;
    text-decoration: underline;
}